<%- include("header") -%>
  <body>

    <div class="box" id="heading">
      <h1>It's a <%=KindOfDay%> list</h1>
    </div>

    <div class="box">

        <% item.forEach(function(i){ %>
          <form action="/delete" method="post">
            <div class="item">
            <input type="checkbox" name="checkbox" value="<%=i._id%>" onChange="this.form.submit()">
            <p><%= i.name %></p>
          </div>
          <input type="hidden" name="listName" value="<%=KindOfDay %>"></input>
        </form>
        <% }) %>

      <div class="item">
        <form class="item" action="/" method="post">
            <input type="text" name="input" placeholder="NewItem" autocomplete="off">
            <button type="submit" name="list" value="<%=KindOfDay %>">+</button>
          </form>
      </div>
    </div>
  </body>
</html>
<%- include("footer") -%>
